.card-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    border: 1px;
    margin: 3px;
     
    
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/public/DALL·E\ 2024-12-20\ 19.55.09\ -\ A\ web\ wallpaper\ design\ with\ a\ pastel\ color\ palette\ leaning\ towards\ white\,\ featuring\ a\ padel\ theme.\ Include\ subtle\ illustrations\ of\ padel\ rackets\,\ ball.webp") ;
}


.card {
    background-color: rgba(83, 83, 83, 0.7);
    color: antiquewhite; 
    margin: auto;
   

}

.card-detail {
    background-color: rgba(83, 83, 83, 0.7);
    color: antiquewhite; 
    margin: auto;
   

}

.card-body{
    flex-grow: 1;
    flex-shrink: 1;
}

.price{
    color: rgb(35, 167, 63);
}

button{
    opacity: 90%;
}

.card-img-top {
    
    max-height: 25vh;
    max-height: 25vh;

   
}

 .card:hover {

    transform: scale(1.02);
  } 