.ProductDetail{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/public/photo-1705637841133-2fd5b3c4512b.avif") ;
}

.card-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    border: 1px;
    margin: 5px;
    min-height: 100vh;
    
    
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/public/photo-1705637841133-2fd5b3c4512b.avif") ;
}

.category{
  

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/public/photo-1705637841133-2fd5b3c4512b.avif") ;
}

.card {
    background-color: rgba(0, 0, 0, 0.7);
    color: antiquewhite; 
    

}

.card-body{
    flex-grow: 1;
    flex-shrink: 1;
}

.price{
    color: rgb(35, 167, 63);
}
