.ProductDetail{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/banner-padel-byn.webp") ;
}

.card-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    border: 1px;
    margin: 5px;
    min-height: 100vh;
    
    
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/banner-padel-byn.webp") ;
}

.category{
  

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/banner-padel-byn.webp") ;
}

.card {
    background-color: rgba(0, 0, 0, 0.7);
    color: antiquewhite; 
    

}

.card-detail {
    background-color: rgba(0, 0, 0, 0.7);
    color: antiquewhite; 
    

}

.card-body{
    flex-grow: 1;
    flex-shrink: 1;
}

.price{
    color: rgb(35, 167, 63);
}

.back{
    justify-self: start;
    margin-left: 20px;
    color: rgb(0, 130, 236);
    margin-top: 4vh;
    cursor: pointer;
}