.CartContent{
   
        background-image: linear-gradient(rgba(139, 124, 124, 0.4), rgba(168, 153, 153, 0.4)), url("/public/photo-1705637841133-2fd5b3c4512b.avif") ;
       
        max-height: max-content;
        min-height: 1000px;
         display: flex; 
         flex-direction: column; 
        

        
}

.product-card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;

}

.product-card-container > img {
    height: 120px;
    width: 100px;
    text-align: center;
}

.cartTotal {
    text-align: center;
}

.cart-delete-product {
    cursor: pointer;
}

.counter-button {
    cursor: pointer;
    font-weight: bold;
    
}

h1{
    text-align: center;
}