.category-list {
    display: flex; 
    list-style-type: none; 
    padding: 0; 
    margin: 10; 
}

.category-list li {
    margin-right: 10px; /
}

.category-list li:last-child {
    margin-right: 0; 
}