.checkout-form {
    background-color: #f8f9fa; /* Color de fondo claro */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    max-width: 400px; /* Ancho máximo del formulario */
    margin: auto; /* Centrar el formulario */
    
}

.checkout-form h2 {
    color: #343a40; /* Color del título */
}

.checkout-form .form-group label {
    font-weight: bold; /* Negrita para las etiquetas */
}

.checkout-form .form-control {
    border-radius: 4px; /* Bordes redondeados para los campos de entrada */
}

.checkout-form .btn {
    margin-top: 10px; /* Espaciado superior para el botón */
}


